<app-navbar></app-navbar>
<div class="bg-white">
    <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-2xl font-extrabold tracking-tight text-gray-900">SUBSTRATE SYSTEM</h2>
        <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <!--Soil-->
            <div class="group relative">
                <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                    <img src="assets/img/soil.jpg" alt="Front of men&#039;s Basic Tee in black." class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a routerLink="/plantdetails/hygrophila_difformis">
                                <span aria-hidden="true" class="absolute inset-0"></span>Soil
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">1 Kg</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">5000 Ks</p>
                </div>
            </div>
            <!--Silica Sand-->
            <div class="group relative">
                <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                    <img src="assets/img/Silica Aquarium Sand.jpg" alt="Front of men&#039;s Basic Tee in black." class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a routerLink="/plantdetails/hygrophila_difformis">
                                <span aria-hidden="true" class="absolute inset-0"></span>Silica Sand
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">1 Kg</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">1500 Ks</p>
                </div>
            </div>
            <!--Brown River Sand-->
            <div class="group relative">
                <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                    <img src="assets/img/brown-river-sand.jpg" alt="Front of men&#039;s Basic Tee in black." class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a routerLink="/plantdetails/hygrophila_difformis">
                                <span aria-hidden="true" class="absolute inset-0"></span>Brown River Sand
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">1 Kg</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">1000 Ks</p>
                </div>
            </div>
            <!--Medium River Sand-->
            <div class="group relative">
                <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                    <img src="assets/img/Medium-River-Sand.jpg" alt="Front of men&#039;s Basic Tee in black." class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a routerLink="/plantdetails/hygrophila_difformis">
                                <span aria-hidden="true" class="absolute inset-0"></span>Cleaned Medium River Sand
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">1 Kg</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">500 Ks</p>
                </div>
            </div>
        </div>
        <h2 class="text-2xl font-extrabold tracking-tight text-gray-900 mt-4">LAYOUT</h2>
        <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <!--Rocks-->
            <div class="group relative">
                <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                    <img src="assets/img/riverstone.jpg" alt="Front of men&#039;s Basic Tee in black." class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a routerLink="/plantdetails/hygrophila_difformis">
                                <span aria-hidden="true" class="absolute inset-0"></span> River Rocks
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">1 Kg</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">1000 Ks</p>
                </div>
            </div>
            <!--Drift woods-->
            <div class="group relative">
                <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                    <img src="assets/img/dw.png" alt="Front of men&#039;s Basic Tee in black." class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a routerLink="/plantdetails/hygrophila_difformis">
                                <span aria-hidden="true" class="absolute inset-0"></span> River Rocks
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">1 Kg</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">6000 Ks</p>
                </div>
            </div>
        </div>

        <h2 class="text-2xl font-extrabold tracking-tight text-gray-900 mt-4">MAINTENANCE TOOL</h2>
        <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <!--MAINTENANCE TOOL-->
            <div class="group relative">
                <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                    <img src="https://firebasestorage.googleapis.com/v0/b/store-27b2a.appspot.com/o/aquatic-plants%2FMAINTENANCE_TOOL.jpg?alt=media&token=ab7c83b9-1c3a-49d1-8cda-fecaf3cea053" class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a routerLink="/plantdetails/hygrophila_difformis">
                                <span aria-hidden="true" class="absolute inset-0"></span>MAINTENANCE TOOL
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">1 Set</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">20000 Ks</p>
                </div>
            </div>
            <!--Drift woods-->
            <!-- <div class="group relative">
                <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                    <img src="assets/img/dw.png" alt="Front of men&#039;s Basic Tee in black." class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                </div>
                <div class="mt-4 flex justify-between">
                    <div>
                        <h3 class="text-sm text-gray-700">
                            <a routerLink="/plantdetails/hygrophila_difformis">
                                <span aria-hidden="true" class="absolute inset-0"></span> River Rocks
                            </a>
                        </h3>
                        <p class="mt-1 text-sm text-gray-500">1 Kg</p>
                    </div>
                    <p class="text-sm font-medium text-gray-900">6000 Ks</p>
                </div>
            </div> -->
        </div>
    </div>
</div>