<app-navbar></app-navbar>
<div class="grid mt-6 max-w-2xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-1 lg:gap-x-8">
    <div class="mt-6">
        <h1 class="font-bold">Choosing the right Aquarium</h1>
        <a href="https://www.firsttankguide.net/calculator.php">Tank Volume Calculator</a>
    </div>
    <div class="mt-6">
        <h1 class="font-bold">Substrate</h1>
        <p>The aquarium substrate is generally the first step when setting up your empty freshwater fish tank. You must have some kind of substrate if you want to keep water plants, give your aquarium a natural look, and add driftwood, rocks, or other decorations
            to your tank. If you don't know how much substrate you have to use,</p>
        <a class="font-bold text-blue-600" href="https://waterlifeaquarium.com.au/aquarium-gravel-calculator/">you can
            check here</a>
    </div>
    <div class="mt-6">
        <h1 class="font-bold">Filter</h1>
    </div>
    <div class="mt-6">
        <h1 class="font-bold">Lighting</h1>
        <a href="https://rotalabutterfly.com/light-calculator.php">Aquarium Light Calculator</a>
    </div>
    <div class="mt-6">
        <h1 class="font-bold">Fertilizer</h1>
    </div>
    <div class="mt-6">
        <h1 class="font-bold">CO2</h1>
        <a href="https://rotalabutterfly.com/co2-ph-calculator.php">Aquarium CO2 Calculator</a>
    </div>
</div>