.body {
    background-image: url(https://www.adana.co.jp/asset/img/bg-copyrights.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
}