<div class="bg-white">
    <div class="pt-6">
        <nav aria-label="Breadcrumb">
            <ol role="list" class="max-w-2xl mx-auto px-4 flex items-center space-x-2 sm:px-6 lg:max-w-7xl lg:px-8">
                <li>
                    <div class="flex items-center">
                        <a href="#" class="mr-2 text-sm font-medium text-gray-900">
                            Plants
                        </a>
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-5 text-gray-300">
                            <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
                        </svg>
                    </div>
                </li>

                <li>
                    <div class="flex items-center">
                        <a href="#" class="mr-2 text-sm font-medium text-gray-900">
                            Easy
                        </a>
                        <svg width="16" height="20" viewBox="0 0 16 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-5 text-gray-300">
                            <path d="M5.697 4.34L8.98 16.532h1.327L7.025 4.341H5.697z" />
                        </svg>
                    </div>
                </li>

                <li class="text-sm">
                    <a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600">
                        Hygrophila Difformis
                    </a>
                </li>
            </ol>
        </nav>


        <!-- Image gallery -->
        <div class="mt-6 max-w-2xl mx-auto sm:px-6 lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-x-8">

            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let banner of banners">
                    <div>
                        <img [src]="banner.src" [alt]="banner.alt" />
                    </div>
                </ng-template>
            </owl-carousel-o>

            <!-- <div class="hidden aspect-w-3 aspect-h-4 rounded-lg overflow-hidden lg:block">
                <img src="../../../../assets/img/Hygrophila_Difformis_1.png" alt="Two each of gray, white, and black shirts laying flat." class="w-full h-full object-center object-cover">
            </div>
            <div class="hidden aspect-w-3 aspect-h-4 rounded-lg overflow-hidden lg:block">
                <img src="../../../../assets/img/hygrophila_difformis.png" alt="Two each of gray, white, and black shirts laying flat." class="w-full h-full object-center object-cover">
            </div>
            <div class="hidden aspect-w-3 aspect-h-4 rounded-lg overflow-hidden lg:block">
                <img src="../../../../assets/img/Hygrophila_Difformis_view.png" alt="Two each of gray, white, and black shirts laying flat." class="w-full h-full object-center object-cover">
            </div> -->
        </div>

        <!-- Product info -->
        <div class="max-w-2xl mx-auto pt-10 pb-16 px-4 sm:px-6 lg:max-w-7xl lg:pt-16 lg:pb-24 lg:px-8 lg:grid lg:grid-cols-3 lg:grid-rows-[auto,auto,1fr] lg:gap-x-8">
            <div class="lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
                <h1 class="text-2xl font-extrabold tracking-tight text-gray-900 sm:text-3xl">
                    Hygrophila Difformis
                </h1>
            </div>

            <!-- Options -->
            <div class="mt-4 lg:mt-0 lg:row-span-3">
                <div class="mt-4">
                    <h3 class="text-sm font-medium text-gray-900">Plant Info</h3>

                    <ul role="list" class="pl-4 list-disc text-sm space-y-2">
                        <li class="text-gray-400"><span class="text-gray-600">Hand cut and sewn locally</span></li>

                        <li class="text-gray-400"><span class="text-gray-600">Dyed with our proprietary
                                colors</span></li>

                        <li class="text-gray-400"><span class="text-gray-600">Low Light Demand</span>
                        </li>

                        <li class="text-gray-400"><span class="text-gray-600">Ultra-soft 100% cotton</span></li>
                    </ul>
                </div>
            </div>

            <div class="py-10 lg:pt-6 lg:pb-16 lg:col-start-1 lg:col-span-2 lg:border-r lg:border-gray-200 lg:pr-8">
                <!-- Description and details -->
                <div>
                    <h3 class="sr-only">Description</h3>

                    <div class="space-y-6">
                        <p class="text-base text-gray-900">Hygrophila difformis from Asia is beautiful and undemanding stem plant. Stems becomes 20-30 cm tall and 6-12 cm wide. A plant for beginners, which will help create balance in the aquarium from the start. Its rapid growth helps
                            prevent algae because the plant absorbs a great number of nutrients from the water. The shortage of micronutrients leads to pale leaves, which may be an indication that the aquarium needs fertiliser. In large aquariums its
                            lobed leaves can create a distinctive group. A bundle of stems or young plants gathered in an anchor. Remove the anchor and split into separate plants. Regarding stem plants, remove the leaves from the lowest 5 cm (2“). Remove
                            any damaged leaves. Plant the individual plants with some distance into the bottom substrate. Roots will develop soon and the plant start growing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>