<div class="sm:text-left">
    <!-- Personal Information -->
    <div class="shadow-lg p-4 bg-gray-700 max-h-100 items-center justify-center  flex flex-col">
        <h2 class="text-white">Personal Information</h2>
        <div class="mt-2">
            <input type="text" placeholder="Fullname" class="rounded-md border-2 p-2 w-full" [(ngModel)]="fullName">
            <input type="tel" placeholder="+959 XXXXXXXXX" class="rounded-md mt-4 p-2 w-full" [(ngModel)]="phoneNumber">
            <textarea class="rounded-md form-textarea mt-4 mb-4 block w-full p-2" rows="3" placeholder="Enter your address" [(ngModel)]="address"></textarea>
            <textarea class="rounded-md form-textarea mt-4 block w-full p-2" rows="3" placeholder="Enter your note" [(ngModel)]="note"></textarea>
        </div>
    </div>
    <div class=" pt-2 pb-3 bg-gray-700 flex flex-col items-center justify-center space-y-4">
        <h2 class="text-white">Order Summary</h2>
        <div *ngFor="let product of carts" class="flex items-center">
            <div class="mr-4">
                <img [src]="product.image" class="w-14 h-16 object-cover rounded">
            </div>
            <div class="w-44">
                <p class="font-medium">
                    {{product.name}}
                </p>
                <p class="text-sm text-gray-400">
                    {{product.price.toLocaleString()}} <span class="text-gray-200">&times;{{product.quantity}}</span>
                </p>

            </div>
            <div>
                <button (click)="removeFromCart(product)" class="text-white text-2xl">&times;</button>
            </div>
        </div>
        <div>
            <div>
                Total: {{total.toLocaleString()}} Kyats
            </div>
            <div class="mt-4 items-center">
                <button mat-raised-button class=" bg-green-700" (click)="completeOrder()">
                    <a class="text-white">Complete Order</a>
                </button>
            </div>
        </div>
    </div>
</div>